[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pydantic = "*"
requests = "*"

[dev-packages]
pytest = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
debugpy = "*"
black = "*"
flake8-walrus = "*"
types-requests = "*"
localstack = "*"
awscli-local = "*"
docker-compose = "*"
pytest-docker = "*"
pytest-cov = "*"
datamodel-code-generator = "*"
pdoc3 = "*"
pydocstyle = {extras = ["toml"], version = "*"}
toml = "*"

[requires]
python_version = "3.9"
