[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
debugpy = "*"
black = "*"
flake8-walrus = "*"
localstack = "*"
awscli-local = "*"
docker-compose = "*"
pytest-docker = "*"

[requires]
python_version = "3.9"
